body {
    display: flex;
    background: black;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
}

fieldset {
    text-align: center;
    margin: 25px;
}

legend {
    font-size: 30px;
}

input {
    margin: 10px;
}

#eingabeText {
    width: 50%;
    height: 50px;
    font-size: 10px;
    display: none;
}

#RateZahl {
    width: 50%;
    height: 50px;
    font-size: 10px;
    display: block;
}

#eingabeButton {
    width: 50%;
    height: 50px;
    border: 3px solid white;
    background-color: black;
    color: white;
    font-size: 20px;
}

#eingabeButton:active {
    width: 50%;
    height: 50px;
    border: 3px solid white;
    background-color: white;
    color: black;
    font-size: 20px;
}